.container {
  padding-top: 96px;
  padding-bottom: 96px;
  .column {
    div {
      background: #EFEFEF;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;
      font-size: 18px;
      font-weight: 600;
      color: var(--purple);
      text-decoration: none;
    }
  }
}

@media (max-width: 767px) {
  .container {
    .column {
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 15px;
      }

      &:nth-child(1),
      &:nth-child(3) {
        border: none;
      }
    }
  }
}
