.pagination {
  text-align: center;
  .arrow{
    margin: 8px 16px;
    border: none;
    background: none;
    &:disabled {
      opacity: .5;
    }
  }
  button:not(.arrow) {
    border: none;
    width: 12px;
    height: 12px;
    margin: 4px;
    &.active {
      background: var(--purple);
    }
  }
}