.nav-item {
  height: 100%;

  .nav-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    color: var(--dark-grey) !important;
    font-weight: 500;
    cursor: pointer;

    span {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: var(--purple);
        top: calc(100% + 5px);
        left: 0;
        transition: 0.25s ease;
        transform-origin: left;
      }
    }

    &:hover {
      span {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .nav-item {
    .nav-link {
      padding: 0 20px;
    }
  }
}
