.card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 32px;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow:
      0px 8.15px 6.52px 0px #6C458307,
      0px 38.52px 25.48px 0px #6C45830B,
      0px 100px 80px 0px #6C458312;

    p {
      color: #581CA9;
    }

    img.readMore {
      opacity: 1;
    }
  }


  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 24px 0 30px;
    color: #000000;
  }

  p {
    color: #581CA980;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 18px;
  }

  .icon {
    width: 50px;
    height: 50px;
    background-color: #581CA921;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

img.readMore {
  display: flex;
  opacity: 0;
  align-self: flex-end;
  gap: 8px;
  color: #581CA9;
  font-weight: 500;
  margin-top: auto;
  transition: all 0.3s ease;
}

@media (max-width: 575px) {
  .card {
    padding: 24px;

    img.readMore {
      opacity: 1;
    }

    h3 {
      font-size: 20px;
      margin: 16px 0 12px;
    }
  }
}