.container {
  padding-top: 231.5px;
  padding-bottom: 86px;
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  gap: 48px;
}

.content {
  max-width: 444px;

  h2 {
    font-size: 52px;
    margin-bottom: 24px;

    .colored {
      color: #581CA9;
    }
  }

  p {
    font-size: 17px;
    line-height: 20.4px;
    font-weight: 400;
    margin-bottom: 24px;
    max-width: 775px;
    margin-bottom: 44px;

    &.colored {
      color: #581CA9;
    }
  }
}

.estimate {
  font-size: 17px;
  line-height: 20.4px;
  font-weight: 700;
  display: inline-block;
  background: #581CA9;
  color: white;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 0 20px 0 0;
  font-weight: 500;
  transition: background-color 0.2s;


  &:hover {
    background: darken(#581CA9, 5%);
    color: white;
  }
}

.imageWrapper {
  position: relative;
  min-height: 400px;
}

.background {
  position: absolute;
  top: -131.5px;
  left: -131.5px;
  width: 263px;
  height: 263px;
  background: #581CA9;
  border-radius: 152px 0 0 0;
  z-index: 0;
}

.image {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 400px;
  border-radius: 0 0 152px 0;
  object-fit: cover;
}

@media (max-width: 991px) {
  .container {
    flex-direction: column;
    padding-top: 86px;
  }

  .content {
    text-align: center;
  }

  .imageWrapper {
    display: none;
  }
}