.hero {
  height: 390px;
  padding-top: 184px;
  color: #fff;
  text-align: center;
  margin-bottom: 96px;
  header {
      position: relative;
      margin: 0 auto;
  }
  .title {
      font-size: var(--Font-size-display-lg, 48px);
      font-weight: 400;
      line-height: var(--Line-height-display-lg, 60px); /* 125% */
      letter-spacing: -0.96px;
      margin-bottom: 24px;
  }
}
.container {
  h2 {
    color: #313131;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-display-md, 44px); /* 176% */
    letter-spacing: -0.5px;
    padding-bottom: 8px;
    border-bottom: solid 1px #E4E7EC;
    margin-bottom: 32px;
  }
  :global(.row) {
    margin-bottom: 64px;
  }
  :global(.col-md-4) {
    margin-bottom: 12px;
  }
  a {
    text-decoration: none;
  }
}