.container {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav-bar {
  height: 80px;
  display: flex;
  justify-content: space-between !important;
  flex-direction: row;
  margin-top: 16px;
  padding: 0 !important;
  
  :global(.container) {
    background-color: #fff;
    height: 100%;
    padding: 16px 32px;
    width: calc(1320px - 24px);
  }

  .logo {
    height: 100%;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
    display: flex;

    img {
      max-height: 100%;
      width: auto;
    }
  }

  .nav {
    list-style: none;
    display: flex;
    height: 100%;
    flex-wrap: nowrap !important;

    .social-links {
      display: flex;
      padding: 0 15px 0 30px;
      align-items: center;

      .social-link {
        transition: 0.25s ease;
        padding: 0 5px 0 0;

        &:last-of-type {
          padding: 0;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .language-switch {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      padding: 0 30px 0 0;

      .language {
        cursor: pointer;

        &.active {
          font-weight: bolder;
        }
      }

      .separator {
        margin: 0 2.5px;
      }
    }
  }

  .navbar-toggler {
    display: block;
    border: none;
    outline: none;
    padding: 0;
    width: 40px;

    .bar {
      width: 80%;
      height: 3px;
      background-color: var(--purple);
      margin: 5px;
    }
  }
}

@media (max-width: 575px) {
  .nav-bar {
    height: 66px;
  }
}
