.news-container {
  padding-top: 100px;
  .title {
    margin: 0 0 5px 0;
  }

  .date {
    margin: 0 0 30px 0;
    color: var(--grey);
  }

  .content {
    max-width: 1200px;
    margin: auto;
  }
}
