.container {
  padding-top: 96px;
  padding-bottom: 96px;
  h2 {
    color: #101828;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.72px;
    margin-bottom: 20px;
    + p {
      color: #475467;
      font-weight: 400;
      line-height: var(--Line-height-text-xl, 30px); /* 150% */
      margin-bottom: 64px;
    }
  }
}

.card-column {
  padding: 15px;
}

@media (max-width: 575px) {
  .card-column {
    padding: 5px;
  }
}

.pagination {
  text-align: center;
  .arrow{
    margin: 8px 16px;
    border: none;
    background: none;
  }
  button:not(.arrow) {
    border: none;
    width: 12px;
    height: 12px;
    margin: 4px;
    &.active {
      background: var(--purple);
    }
  }
}