.card {
  background: #F8F8F8;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;

  > img {
    padding: 10px;
    background: #fff;
    box-sizing: content-box;
    margin-bottom: 40px;
  }

  .title {
    color: #303030;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 24px;
    flex: 1;
  }

  .check-button {
    margin: 30px 0 0 0;
    color: var(--purple) !important;
  }
}

@media (max-width: 575px) {
  .card {
    padding: 30px 15px !important;
  }
}
