
.container {
  margin-top: 96px;
  margin-bottom: 96px;
  h2 {
    font-size: var(--Font-size-display-xs, 24px);
    font-weight: 600;
    margin-bottom: 32px;
  }
  a {
    text-decoration: none;
    color: #101828;
  }
  .img {
    background: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  .header {
    display: flex;
  }
  .title {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
  }
  .desc {
    overflow: hidden;
    color: #475467;
    text-overflow: ellipsis;
    font-size: var(--Font-size-text-md, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
    margin-bottom: 24px;
  }
  .footer{
    font-size: 14px;
    .date {
      color: #475467;
    }
  }
}