.check-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff !important;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;

  img {
    margin: 0 0 0 15px;
    transform: translate(0px, 0);
    transition: transform 0.25s ease;
  }

  &:hover {
    img {
      transform: translate(5px, 0);
    }
  }
}
