.contact {
  height: 548px;
  background: url("/bg2.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  h2 {
    font-size: 46px;
    font-weight: 400;
    line-height: 120%; /* 55.2px */
    margin-bottom: 16px;
    color: #fff;
  }
  p {
    font-size: var(--Font-size-text-lg, 18px);
    line-height: var(--Line-height-text-lg, 28px); /* 155.556% */
    margin-bottom: 20px;
  }
  a {
    padding: 15px;
    background-color: var(--green-light);
    border: none;
    outline: none;
    font-weight: 500;
    color: var(--purple);
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
  }
}