.footer {
  color: #fff;
  background: linear-gradient(0deg, #0A142F 0%, #0A142F 100%), #1D1D1B;
  padding: 96px 0 32px;

  .logo {
    height: auto;
    max-width: 140px;
    margin: 0 0 30px 0;
  }

  .description {
    max-width: 750px;
    margin: 0 0 30px 0;
  }

  .social-icon {
    margin: 0 15px 0 0;
    transition: 0.25s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .footer-list {
    letter-spacing: 0.1rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 0 15px 0;
    }
  }
  .list {
    letter-spacing: 0.1rem;
    margin-top: 30px;
    :global(.row) {
      margin-top: 15px;
      >div {
        margin-bottom: 15px;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .copyrights {
    margin: 32px 0 0 0;
  }
  :global(.clutch-widget) {
    display: inline-block;
    width: 200px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 15px;

    .description {
      margin: 0;
    }

    .footer-list {
      margin: 30px 0 0 0;
      text-align: left;
    }
  }
}
