.containerFull {
    border-radius: 87px 0 87px 0;
    background: linear-gradient(90deg, #121252 0%, #581CA9 100%);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 69px 0 67px 0
}

.stats {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    max-width: 1015px;
    width: 100%;

    /* 22.4px */
    >div {
        margin-bottom: 20px;
    }

    strong {
        display: block;
        color: white;
        font-size: 38px;
        font-weight: 400;
        line-height: 38px;
        /* 120% */
        letter-spacing: -0.8px;
        padding: 23px 0 19px 0;
    }
}