.container {
    padding-top: 96px;
    padding-bottom: 96px;
}

.description {
    margin-bottom: 20px;
}

a.readAll {
    padding: 15px;
    background-color: var(--green-light);
    border: none;
    outline: none;
    font-weight: 500;
    color: var(--purple);
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
}