/* src/styles/globals.css */
@import 'tailwindcss';

@theme {
  --color-primary: rgb(88, 28, 169);
  --color-primary-light: #9d4edd;
  --color-primary-dark: #4c1d95;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --primary: rgb(88, 28, 169);
  --primary-light: #9d4edd;
  --gradient: linear-gradient(135deg, var(--primary), var(--primary-light));
}

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

.gradient-bg {
  background: var(--gradient);
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-primary {
  background: var(--gradient);
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-primary:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--primary-light), var(--primary));
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn-primary:hover:before {
  opacity: 1;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(88, 28, 169, 0.2);
}

.btn-outline {
  background: white;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background: rgba(88, 28, 169, 0.05);
  transform: translateY(-2px);
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.gradient-bg {
  background: var(--gradient);
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-primary {
  background: var(--gradient);
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-primary:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--primary-light), var(--primary));
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn-primary:hover:before {
  opacity: 1;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(88, 28, 169, 0.2);
}

.step-card {
  transition: all 0.3s ease;
  border-left: 5px solid var(--primary);
}

.step-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.step-number {
  background: var(--gradient);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25rem;
  box-shadow: 0 5px 15px rgba(88, 28, 169, 0.3);
}

/* Animacje dla tła gwiaździstego */
@keyframes animStar {
  from { transform: translateY(0); }
  to { transform: translateY(-2000px); }
}

@keyframes pulsate {
  0% { opacity: 0.2; }
  50% { opacity: 0.5; }
  100% { opacity: 0.2; }
}

@keyframes shootingstar {
  0% { transform: translateX(0) translateY(0) rotate(315deg); opacity: 1; }
  70% { opacity: 1; }
  100% { transform: translateX(-1000px) translateY(1000px) rotate(315deg); opacity: 0; }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* Kontenery i elementy tła gwiaździstego */
.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background: transparent;
  z-index: 0;
}

.stars {
  background-image: radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
                    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
                    radial-gradient(1px 1px at 90px 40px, #fff, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  opacity: 0.4;
  animation: animStar 100s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stars2 {
  background-image: radial-gradient(1px 1px at 100px 150px, #fff, rgba(0,0,0,0)),
                    radial-gradient(1px 1px at 200px 220px, #fff, rgba(0,0,0,0)),
                    radial-gradient(1px 1px at 300px 300px, #fff, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 400px 400px;
  opacity: 0.5;
  animation: animStar 150s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stars3 {
  background-image: radial-gradient(1px 1px at 50px 80px, #fff, rgba(0,0,0,0)),
                    radial-gradient(1px 1px at 150px 250px, #fff, rgba(0,0,0,0)),
                    radial-gradient(1px 1px at 250px 350px, #fff, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 300px 300px;
  opacity: 0.3;
  animation: animStar 200s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nebula1 {
  position: absolute;
  top: 20%;
  right: 15%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(138, 92, 246, 0.2) 0%, rgba(102, 51, 153, 0) 70%);
  animation: pulsate 10s ease-in-out infinite;
}

.nebula2 {
  position: absolute;
  bottom: 30%;
  left: 20%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(99, 102, 241, 0.2) 0%, rgba(51, 102, 153, 0) 70%);
  animation: pulsate 13s ease-in-out infinite;
  animation-delay: 2s;
}

.shooting-star {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
  opacity: 0;
  transform: rotate(315deg);
  animation: shootingstar 6s ease-in-out infinite;
  animation-delay: 3s;
}

/* Fix dla problemu zanikania gwiazd */
.stars-fix {
  position: absolute;
  top: -200%; /* Ustawienie początkowe powyżej widocznego obszaru */
  left: 0;
  width: 100%;
  height: 300%;
  background: transparent;
  transform: translateY(0);
  animation: resetStars 200s linear infinite;
}

@keyframes resetStars {
  0% { transform: translateY(0); }
  49.9% { transform: translateY(1999px); }
  50% { transform: translateY(0); } /* Reset pozycji w połowie animacji */
  99.9% { transform: translateY(1999px); }
  100% { transform: translateY(0); }
}

/* Elementy dodatkowe */
.floating {
  animation: float 6s ease-in-out infinite;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-gradient {
  background: linear-gradient(45deg, #8a5cf6, #6366f1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

/* Style dla przycisków */
.btn-primary {
  background: linear-gradient(to right, #6366f1, #a855f7);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 4px 14px rgba(99, 102, 241, 0.4);
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(99, 102, 241, 0.6);
}

.btn-secondary {
  background: transparent;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Style dla efektu pisania */
.typing-cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  margin-left: 2px;
  background-color: white;
  animation: blink 1s infinite;
  vertical-align: text-bottom;
}

.typing-text {
  word-break: break-word;
  white-space: pre-wrap;
}