

.companies {
  position: relative;
  overflow: hidden;
  &:after,
  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 100px;
    position: absolute;
    background: linear-gradient(90deg, #ffffff, transparent);
    z-index: 1;
  }
  &:before {
    left: 0;
  }
  &:after {
    top: 0;
    right: 0;
    background: linear-gradient(90deg, transparent, #ffffff);
  }
  div {
    width: max-content;
    @keyframes toLeft {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }
    animation: toLeft 40s linear infinite;
  }
  img {
    height: 48px;
    width: auto;
    margin: 62px;
  }
}