.hero {
  height: 390px;
  padding-top: 164px;
  color: #fff;
  text-align: center;
  margin-bottom: 96px;
  small {
    color: #32EB51;
    font-size: var(--Font-size-text-xs, 12px);
    font-weight: 400;
    line-height: var(--Line-height-text-xs, 18px); /* 150% */
    margin-bottom: 12px;
  }
  header {
      position: relative;
      max-width: 768px;
      margin: 0 auto;
  }
  .title {
      font-size: var(--Font-size-display-lg, 48px);
      font-weight: 400;
      line-height: var(--Line-height-display-lg, 60px); /* 125% */
      letter-spacing: -0.96px;
      margin-bottom: 24px;
  }
}


.container1 {
  padding-top: 96px;
  padding-bottom: 64px;
  h2 {
    margin-bottom: 32px;
  }
  :global(.row) > div {
    margin-bottom: 20px;
  }
}
.container2 {
  padding-top: 64px;
  padding-bottom: 96px;
  h2{
    margin-bottom: 64px;
    text-align: center;
  }
  > div {
    justify-content: center
  }
  .card {
    background: #EFEFEF;
    padding: 32px;
    margin-bottom: 32px;
    strong {
      font-size: var(--Font-size-display-xl, 60px);
      font-weight: 600;
      line-height: var(--Line-height-display-xl, 72px); /* 120% */
      letter-spacing: -1.2px;
      color: #5B15AC;
      display: block;
      margin-bottom: 16px;
    }
  }
}

.container3 {
  padding-top: 96px;
  padding-bottom: 96px;
  :global(.row) {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}

.container4 {
  color: #fff;
  background: #5B15AC;
  padding: 96px 0;
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 64px;
  }
  :global(.row) {
    text-align: center;
    img {
      margin-bottom: 32px;
    }
  }
  h3{
    font-size: 22px;
    margin-bottom: 16px;
  }
}
