.hero {
  overflow: hidden;
  height: 100vh;
  min-height: 350px;
  display: flex;
  align-items: center;
  background: url("/hero.webp");

  .hero-text {
    position: relative;
    color: #fff;
    font-size: 52px;
    line-height: 62px;
  }

  .hero-subtext {
    position: relative;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    max-width: 440px;
    margin: 32px 0;
  }

  .contact-us {
    position: relative;
    padding: 15px;
    background-color: var(--green-light);
    border: none;
    outline: none;
    font-weight: 500;
    color: var(--purple);
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-right: 24px;
  }

  .learn-more {
    position: relative;
    padding: 15px;
    background-color: #fff;
    border: none;
    outline: none;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
  }

  .explore {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    display: flex;
    background: transparent;
    border: none;
    img {
      margin-left: 8px;
    }
  }

  & > div {
    background-position: center top !important;
  }
}

.content-container {
  .content {
    max-width: 1400px;
    margin: auto;  

    .module {
      .title {
        font-size: 36px;
        font-weight: 400;
        margin: 0 0 30px 0;
      }
    
      .description {
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &.section-3 {
    background: linear-gradient(180deg, #F7F7F7 78.65%, rgba(247, 247, 247, 0) 100%);
  }
}

@media (max-width: 575px) {
  .hero {
    .hero-text {
      font-size: 32px;
    }
  }

  .content-container {
    .module {
      .title {
        margin: 0 0 15px 0;
      }
    }
  }
}