.offerSection {
  padding-top: 96px;
  padding-bottom: 96px;
  overflow: hidden;

  h2 {
    color: #000000;
    font-size: 52px;
    font-weight: 600;
    letter-spacing: -0.72px;
    margin-bottom: 49px;

    span {
      color: #581CA9;
    }
  }

  .track {
    display: flex;
    padding-top: 32px;
    padding-bottom: 96px;
    gap: 24px;
    transition: transform 1s;

    @media (max-width: 767px) {
      gap: 0;
    }

    .offerCard {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: white;
      width: 100%;
      max-width: 308px;
      min-height: 341px;
      position: relative;
      left: -18.5px;
    }
  }



  .arrows {
    display: flex;
    justify-content: center;
    gap: 12px;

    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 40px;
      height: 40px;
      background: transparent;
      cursor: pointer;
      color: #581CA9;
      transition: all 0.3s ease;
      border: 0;
      outline: none;

      &:disabled {
        cursor: default;
      }

      img {
        &.active {
          color: #581CA9;
          ;
        }

        &.disabled {
          filter: invert(91%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(87%) contrast(87%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    h2 {
      font-size: 42px;
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    padding-top: 64px;
    padding-bottom: 64px;

    h2 {
      font-size: 32px;
      margin-bottom: 24px;
    }
  }
}

.card-column {
  padding: 15px;
}