.category {
  color: #5B01AC;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  margin-bottom: 8px;

  img {
    width: 16px;
    margin-right: 8px;
  }
}

h2.title {
  line-height: var(--Line-height-text-lg, 28px); /* 155.556% */
  margin-bottom: 8px;
  font-size: var(--Font-size-text-lg, 18px);
  text-decoration: none;
  color: var(--colors-text-text-primary-900, #101828);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 8px;
}

.content {
  font-size: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.date {
  color: var(--colors-text-text-tertiary-600, #475467);
  font-size: var(--Font-size-text-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}