.card {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  .title {
    margin: 0 0 5px 0;
    a {
      color: var(--bs-body-color);
      text-decoration: none;
    }
  }

  .date {
    color: var(--grey);
    margin: 0 0 30px 0;
  }

  .content {
    overflow: hidden;
    margin: 0 0 auto 0;
  }

  .check-button {
    color: var(--purple) !important;
    margin: 30px 0 0 0;
  }
}