:root {
  font-size: 18px;

  --dark-grey: #1D1D1B;
  --grey: #5C5C5C;
  --light-grey: #F6F6F6;
  --purple: #5B01AC;
  --green-light: #33EB51;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-grey);
  letter-spacing: -0.01em;
  word-spacing: 0.05em;
  overflow-x: hidden;
}

h2 {
  color: #101828;
  font-weight: 400;
  margin-bottom: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

[data-theme="DARK"] ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

a,
a:hover,
a:visited {
  color: #000;
  text-decoration: none;
}

.a {
  color: #333 !important;
  font-weight: 500;
  text-decoration-color: var(--purple);
  text-underline-offset: 4px;
}

.hidden {
  display: none !important;
}

.wp-block-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.page-link {
  color: var(--purple) !important;
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: var(--purple) !important;
  border-color: var(--purple) !important;
}

.termsfeed-com---palette-light .cc-nb-okagree,
.termsfeed-com---palette-light .cc-nb-reject,
.termsfeed-com---palette-light .cc-cp-foot-save {
  background: var(--purple) !important;
}

/* Font sizes */

@media (max-width: 767px) {
  h1 {
    font-size: 2.3em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 0.9em;
  }

  p {
    font-size: 0.85em;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.05em;
  }

  h6 {
    font-size: 0.85em;
  }
}