.hero {
  height: 520px;
  padding-top: 140px;
  color: #fff;
  text-align: center;
  header {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
  }
  small {
    font-size: 12px;
  }
  .title {
    font-size: var(--Font-size-display-lg, 48px);
    font-weight: 400;
    line-height: var(--Line-height-display-lg, 60px); /* 125% */
    letter-spacing: -0.96px;
    margin-bottom: 24px;
  }
}
.container {
  .img {
    margin-top: -96px;
    background: #fff;
    position: relative;
  }
}
.container2 {
  margin-top: 64px;
  margin-bottom: 64px;
  .stats {
    border-top: 1px solid var(--Colors-Border-border-secondary, #E4E7EC);
    border-bottom: 1px solid var(--Colors-Border-border-secondary, #E4E7EC);
    padding: 64px 32px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    > div {
      flex: 1;
    }
    strong {
        display: block;
        font-size: 60px;
        font-weight: 600;
        color: var(--purple);
    }
  }
}
.container3 {
  max-width: 720px;
  margin: 96px auto 96px;
  img {
    margin: 48px 0;
  }
}
.scope {
  background: #5B15AC;
  color: #fff;
  padding: 64px 0;
  h2 {
    color: #fff;
    margin-bottom: 32px;
  }
  .card {
    background: #7F56D9;
    padding: 20px;
    height: 100%;
    .category {
      background: #33EB51;
      padding: 12px;
      margin: 24px;
      display: inline-block;
      width: fit-content;
    }
    .content {
      padding: 32px 24px;
      h3 {
        margin-bottom: 32px;
      }
      ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}

.review {
  background: #5B15AC;
  padding: 96px 0;
  color: #fff;
  .stars {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 32px;
    font-size: var(--Font-size-display-md, 36px);
line-height: var(--Line-height-display-md, 44px); /* 122.222% */
letter-spacing: -0.72px;
  }
  .author {
    font-size: var(--Font-size-text-lg, 18px);
font-weight: 600;
line-height: var(--Line-height-text-lg, 28px); /* 155.556% */
  }
  .company {
    color: #E9D7FE;
    font-size: var(--Font-size-text-md, 16px);
line-height: var(--Line-height-text-md, 24px); /* 150% */
  }
}

.conclusion {
  border-radius: var(--radius-2xl, 16px);
background: #F9FAFB;
padding: 32px;
}