.hero {
  height: 520px;
  padding-top: 184px;
  color: #fff;
  text-align: center;
  header {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
  }
  .title {
    font-size: var(--Font-size-display-lg, 48px);
    font-weight: 400;
    line-height: var(--Line-height-display-lg, 60px); /* 125% */
    letter-spacing: -0.96px;
    margin-bottom: 24px;
  }
}

.background {
  background: #EFEFEF;
}
.container {
    margin-top: -96px;
    position: relative;
    :global(.col-lg-4) {
      margin-bottom: 64px;
    }
    a {
      text-decoration: none;
      color: #101828;
    }
    .img {
      background: #fff;
      text-align: center;
      margin-bottom: 20px;
    }
    .header {
      display: flex;
    }
    .title {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
    }
    .desc {
      overflow: hidden;
      color: #475467;
      text-overflow: ellipsis;
      font-size: var(--Font-size-text-md, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-height-text-md, 24px); /* 150% */
      margin-bottom: 24px;
    }
    .footer{
      font-size: 14px;
      .date {
        color: #475467;
      }
    }
}