.hero {
  overflow: hidden;
  height: 100vh;
  min-height: 350px;
  display: flex;
  align-items: center;

  .hero-text {
    position: relative;
    color: #fff;
    font-size: 52px;
    line-height: 62px;
    max-width: 700px;
  }

  .hero-subtext {
    position: relative;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    max-width: 440px;
    margin: 32px 0;
  }

  .explore {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    display: flex;
    background: transparent;
    border: none;
    img {
      margin-left: 8px;
    }
  }

  & > div {
    background-position: center top !important;
  }
}


@media (max-width: 575px) {
  .hero {
    .hero-text {
      font-size: 32px;
    }
  }
}

.container {
  padding-top: 96px;
  padding-bottom: 96px;
  h2 {
    color: #101828;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.72px;
    margin-bottom: 20px;
    + p {
      color: #475467;
      font-weight: 400;
      line-height: var(--Line-height-text-xl, 30px); /* 150% */
      margin-bottom: 64px;
    }
  }
  .card-column {
    margin-bottom: 30px;
  }
}