.container {
  background: #5C18AB;
  background-position: center;
  background-size: cover;
  text-align: left;
  color: #fff;
  overflow: hidden;
  padding-top: 96px;
  padding-bottom: 96px;
  .column {
    .desc {
      min-height: 7em;
    }
  }
  .header {
    margin-bottom: 10px;
    justify-content: space-between;
    h2 {
      color: #fff;
    }
    a {
      display: inline-block;
      border: 2px solid rgba(255, 255, 255, 0.12);
      background: #FFF;
      padding: var(--spacing-lg, 12px) 18px;
      color: #000;
      font-weight: 600;
      line-height: var(--Line-height-text-md, 24px); /* 150% */
      text-decoration: none;
      text-align: center;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    + p {
      margin-bottom: 32px;
    }
  }
  .img {
    background: #fff;
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  .title {
    font-size: 24px;
    font-weight: 400;
  }
  .desc {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 24px;
  }
  .readMore {
    color: #fff;
    text-decoration: none;
    margin-bottom: 32px;
    img {
      margin-left: 8px;
    }
    @media (max-width: 767px) {
      display: inline-block;
    }
  }
}
