.container {
  background: #5C18AB;
  background-position: center;
  background-size: cover;
  text-align: left;
  color: #fff;
  overflow: hidden;
  padding-top: 96px;
  padding-bottom: 96px;
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    h2 {
      color: #fff;
      margin-bottom: 0;
    }
    a {
      border: 2px solid rgba(255, 255, 255, 0.12);
      background: #FFF;
      padding: var(--spacing-lg, 12px) 18px;
      color: #000;
      font-weight: 600;
      line-height: var(--Line-height-text-md, 24px); /* 150% */
      text-decoration: none;
    }
    + p {
      margin-bottom: 32px;
    }
  }
  .img {
    background: #fff;
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  .desc {
    margin-bottom: 24px;
  }
  .readMore {
    color: #fff;
    text-decoration: none;
    img {
      margin-left: 8px;
    }
    @media (max-width: 767px) {
      display: inline-block;
      margin-bottom: 32px;
    }
  }
}
