.news-container {
  padding-top: 184px;
  > header {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px;
    + img {
      margin-bottom: 96px;
      width: 100%;
    }
  }
  .title {
    margin: 0 0 5px 0;
  }

  .date {
    color: var(--grey);
  }

  nav {
    background: #FAFAFA;
    border-radius: var(--radius-2xl, 16px);
    padding: 24px;
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    h3 {
      font-size: 18px;
      margin-bottom: 16px;
    }
    ol {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 12px;
        a {
          color: #667085;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }

  .content {
    // for big tables
    overflow-x: hidden;
    h2,h3,h4 {
      margin-top: 2em;
    }
    p > img {
      margin: 40px auto;
      max-width: 100%;
      height: auto;
      display: block;
    }
    ul {
      margin: 2rem 0;
    }
    blockquote {
      margin: 48px 0;
      padding: 8px 20px;
      border-left: 2px solid var(--purple);
      p {
        margin: 0;
        color: #101828;
        font-size: var(--Font-size-display-xs, 24px);
        font-weight: 600;
        line-height: var(--Line-height-display-xs, 32px); /* 133.333% */
      }
    }
    table {
      margin: 24px 0;
      max-width: 100%;
      border-collapse: collapse;
      text-align: left;
    }
    th, td {
      padding: 8px 16px;
      border: 1px solid #ccc;
    }
    th {
      font-weight: 600;
    }
    p:has(iframe){
      position: relative;
      width: 100%;
      &::before{
        display: block;
        padding-top: 56.25%;
        content: "";
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
