.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(92, 1, 172, 0.8);
  backdrop-filter: saturate(50%) blur(4px);
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: 0.25s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .navbar {
    position: static;

    .navbar-toggler {
      display: block;
      border: none;
      outline: none;
      padding: 0;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 15px;
      right: 15px;

      .bar {
        width: 100%;
        height: 3px;
        background-color: #fff;

        &:nth-child(1) {
          transform: rotate(45deg) translate(0, 2px);
        }

        &:nth-child(2) {
          transform: rotate(-45deg) translate(0, -2px);
        }
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .language-switch {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translate(-50%, 0);
      color: #fff;

      .language {
        cursor: pointer;

        &.active {
          font-weight: bolder;
        }
      }

      .separator {
        margin: 0 2.5px;
      }
    }
  }
}
