.container {
    padding: 80px;
    border-radius: var(--24, 24px);
    border: 1px solid var(--Gray-5, #E0E0E0);
    box-shadow: 0px 1px 2px 0px rgba(20, 21, 26, 0.05);
    background: url("/hero.webp");
    text-align: center;
    margin-bottom: 48px;
    margin-top: 80px;
    @media (max-width: 575px) {
      padding: 40px;
    }
    h2.title {
        color: #fff;
        font-weight: 500;
        line-height: 36px; /* 100% */
        letter-spacing: -1.08px;
        margin: 0 !important;
        margin-bottom: 24px !important;
    }
    p {
        color: var(--Gray-4, #E8E8E8);
        font-weight: 400;
        line-height: 28px; /* 140% */
        letter-spacing: -0.24px;
        margin-bottom: 24px;
    }
    a {
        padding: 12px 17.284px;
        background: #33EB51;
        color: #5B01AC;
        font-size: 16px;
    }
}

.trusted {
    text-align: center;
    margin-bottom: 80px;
    p {
        color: #303030;
        font-size: 16px;
        margin-bottom: 24px;
    }
    div {
        display: flex;
        flex-wrap: wrap;
        gap: 56px;
        justify-content: center;
        img {
            height: 40px;
            width: auto;
        }
    }
}