.hero {
  overflow: hidden;
  height: 100vh;
  min-height: 350px;
  display: flex;
  align-items: center;

  .hero-text {
    position: relative;
    color: #fff;
    font-size: 52px;
    line-height: 62px;
  }

  .hero-subtext {
    position: relative;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    max-width: 440px;
    margin: 32px 0;
  }
  img {
    position: relative;
  }
}

.container1 {
  padding-top: 96px;
  padding-bottom: 64px;
  h2 {
    margin-bottom: 32px;
  }
  :global(.row) > div {
    margin-bottom: 20px;
  }
}
.container2 {
  padding-top: 64px;
  padding-bottom: 96px;
  h2{
    margin-bottom: 64px;
    text-align: center;
  }
  > div {
    justify-content: center
  }
  .card {
    background: #EFEFEF;
    padding: 32px;
    margin-bottom: 32px;
    strong {
      font-size: var(--Font-size-display-xl, 60px);
font-weight: 600;
line-height: var(--Line-height-display-xl, 72px); /* 120% */
letter-spacing: -1.2px;
color: #5B15AC;
display: block;
margin-bottom: 16px;
    }
  }
}

.container3 {
  color: #fff;
  background: #5B15AC;
  padding: 96px 0;
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 64px;
  }
  :global(.row) {
    text-align: center;
    img {
      margin-bottom: 32px;
    }
  }
  h3{
    font-size: 22px;
    margin-bottom: 16px;
  }
}