.hero {
  height: 520px;
  padding-top: 184px;
  color: #fff;
  text-align: center;
  header {
    position: relative;
    width: 768px;
    margin: 0 auto;
  }
  .title {
    font-size: var(--Font-size-display-lg, 48px);
    font-weight: 600;
    line-height: var(--Line-height-display-lg, 60px); /* 125% */
    letter-spacing: -0.96px;
  }
}

.background {
  background: #EFEFEF;
}
.container {
    margin-top: -96px;
    position: relative;
    :global(.col-lg-4) {
      margin-bottom: 64px;
    }
    .img {
      background: #fff;
      padding: 16px;
      text-align: center;
      margin-bottom: 20px;
    }
    .desc {
      margin-bottom: 24px;
    }
    .readMore {
      color: #5C18AB;
      text-decoration: none;
      img {
        margin-left: 8px;
      }
      @media (max-width: 767px) {
        display: inline-block;
        margin-bottom: 32px;
      }
    }
}