.reviews {
    overflow: hidden;
    position: relative;

    .track {
        display: flex;
        padding-top: 32px;
        padding-bottom: 96px;
        gap: 24px;
        transition: transform 1s;

        @media (max-width: 767px) {
            gap: 0;
        }
    }

    h2.title {
        font-size: 52px;
        margin-bottom: 32px;
    }

    .arrows {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 20px;

        .arrow {
            display: block;
            min-width: 40px;
            height: 40px;
            background: transparent;
            border-radius: 100px;
            outline: none;
            border: none;
            cursor: pointer;

            &:disabled {
                cursor: default;
            }

            img {
                &.active {
                    color: #581CA9;
                    ;
                }

                &.disabled {
                    filter: invert(91%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(87%) contrast(87%);
                }
            }
        }
    }
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 32px;
    width: 100%;
    max-width: 531px;
    border: 1px solid #581CA921;
    border-radius: 16px;
    box-shadow:
        0px 8.15px 6.52px 0px #6C458307,
        0px 38.52px 25.48px 0px #6C45830B,
        0px 100px 80px 0px #6C458312;

        p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 24px;
            line-height: 20px;
        }
    
        .recommendation {
            color: #581CA9;
            margin-bottom: 24px;
        }
    
        footer {
            justify-self: flex-end;
            display: flex;
            align-items: center;
            gap: 16px;
    
            img {
                width: 41.3px;
                height: 41.3px;
                border-radius: 50%;
            }
    
            .author {
                color: #581CA9;
                margin-bottom: 4px;
                font-size: 13px;
                line-height: 18px;
            }
    
            .company {
                color: #00000080;
                font-size: 13px;
                line-height: 18px;
            }
        }
        

    @media (max-width: 767px) {
        padding: 24px 20px;
        gap: 16px;

        p {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 16px;
        }

        .recommendation {
            color: #581CA9;
            font-size: 14px;
            line-height: 18px;
        }

        footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            img {
                width: 32px;
                height: 32px;
            }

            .author {
                color: #581CA9;
                font-size: 12px;
            }

            .company {
                color: #00000080;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}

.title {
    @media (max-width: 767px) {
        font-size: 32px;
        margin-bottom: 32px;
    }
}

.arrows {
    @media (max-width: 767px) {
        margin-top: 16px;

        .arrow {
            min-width: 32px;
            height: 32px;
        }
    }
}